@{
    ViewBag.Title = "About";
}
<!-- About -->
<section id="tmAppFeatures">
    <div class="row">
        <div class="col-12 text-center text-white tm-bg-black-transparent p-5 tm-app-header">
            <h2 class="text-uppercase mb-3 tm-app-feature-header">All about me / Work History</h2>
            <p class="mb-0 small"></p>
        </div>
    </div>
</section>
<section class="row" id="tmAbout">
    <div class="col-lg-4">
        <div class="tm-bg-black-transparent tm-about-box">
            <div class="tm-about-number-container">Drones</div>
            <h3 class="tm-about-name">Hobby</h3>
            <p class="tm-about-description">
                All of the images on this site were taken by me. I started exploring with drones a few years ago and enjoy taking pictures/videos of any kind of landcapes. I have travled to take take pictures all around the country. Recently I started with FPV drones which is controled with a visual headset.
            </p>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="tm-bg-black-transparent tm-about-box">
            <div class="tm-about-number-container">Life</div>
            <h3 class="tm-about-name">Family / Friends</h3>
            <p class="tm-about-description">
                I enjoy spending plenty of time with my family and friends. I am not one to ever miss a holiday or event. My family has tought me the values of hardwork and dedication. We love to travel and watch football games. <br /><br /><br />
            </p>
            @*<a href="#tmFeatures" class="btn btn-secondary tm-btn-app-feature">Details</a>*@
        </div>
    </div>

    <div class="col-lg-4">
        <div class="tm-bg-black-transparent tm-about-box">
            <div class="tm-about-number-container">Games</div>
            <h3 class="tm-about-name">Entertainment</h3>
            <p class="tm-about-description">
                I have played videogames for pretty much all of my life. I started off playing Call Of Duty as a kid then getting myself sucked into the void of League of Legends that I have played for over 5 years.
                <br /><br /><br />

            </p>
            @*<a href="#tmFeatures" class="btn btn-tertiary tm-btn-app-feature">More</a>*@
        </div>
    </div>

</section>

<!-- App Features -->
<section id="tmAppFeatures">
    <div class="row">
        <header class="col-12 text-center text-white tm-bg-black-transparent p-5 tm-app-header">
            <h2 class="text-uppercase mb-3 tm-app-feature-header">Work History</h2>
            <p class="mb-0 small"></p>
        </header>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="tm-bg-white-transparent tm-app-feature-box">
                <div class="tm-app-feature-icon-container">
                    <i class="fas fa-3x fa-utensils tm-app-feature-icon"></i>
                </div>
                <div class="tm-app-feature-description-box">
                    <p>2013 - 2016</p>
                    <h3 class="mb-4 tm-app-feature-title">Cedar Fair - <br /> Catering Supervisor</h3>
                    <p class="tm-app-feature-description">
                        Kansas City, MO-<br />
                        Started this job in highschool and after about a year and a half was promoted to superior adventually making my way to lead supervisor of the team. My job consisted of keeping tack of invetory and making supply orders as needed, Creating employee schedules, and making sure the customers were satisfied.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="tm-bg-white-transparent tm-app-feature-box">
                <div class="tm-app-feature-icon-container">
                    <i class="fas fa-3x fa-network-wired tm-app-feature-icon"></i>
                </div>
                <div class="tm-app-feature-description-box">
                    <p>2016 - 2018</p>
                    <h3 class="mb-4 tm-app-feature-title">AT&T - <br /> Network Technician</h3>
                    <p class="tm-app-feature-description">
                        Independence, MO-<br />
                        My day to day at this job was to install/troubleshoot a customers internet services. I would do things such as climb telephone poles to connect cables, wire map a building to make sure the service will reach all needed areas, comunicate with customers to be aware of any current or possible issues. <br />
                    </p>
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="tm-bg-white-transparent tm-app-feature-box">
                <div class="tm-app-feature-icon-container">
                    <i class="fas fa-3x fa-tree tm-app-feature-icon"></i>
                </div>
                <div class="tm-app-feature-description-box">
                    <p>2019</p>
                    <h3 class="mb-4 tm-app-feature-title">Perfect Turf - <br /> Hardscapes Foreman </h3>
                    <p class="tm-app-feature-description">
                        Kansas City, MO-<br />
                        I worked this job for a summer. I started as one of the truck drivers hauling trailers and helping with hardscapes. After a few months adventually earning a promotion to a foreman with my own crew. My team and I would do  task much as planting, building patios, decritive walls and various maintanence
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="tm-bg-white-transparent tm-app-feature-box">
                <div class="tm-app-feature-icon-container">
                    <i class="fas fa-3x fa-calendar-alt tm-app-feature-icon"></i>
                </div>
                <div class="tm-app-feature-description-box">
                    <p>2019 - 2021</p>
                    <h3 class="mb-4 tm-app-feature-title">Cox Automotive - <br /> Technical support</h3>
                    <p class="tm-app-feature-description">
                        Lee's Summit, MO-<br />
                        At this job I was part of a support team to assist dealerships with the most effective way to set filters to manage their customers scheduling automtove services. I would also assist with traning the new empolyees all the key fetures of the application and how they work.

                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

